@import "../../../../style/inc";

.TableHeader {
  border-collapse: collapse;
  table-layout: fixed;
}

.TableHeader__cell {
  border: 1px solid $color__grey--light;

  &:last-child {
    border-right: 0;
  }

  &:first-child {
    border-left: 0;
  }

  tr:first-child & {
    border-top: 0;
  }
}


.TableHeader__cell-content {
  width: 100%;
  color: $color__grey;
  font-weight: normal;
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;

  padding: $cell-padding;
}

.TableHeader__cell-content--select {
  // padding: 10px 15px;
}
