@import "../../../../style/inc";

.TableHeader {
  border-collapse: collapse;
  table-layout: fixed;
}

.TableHeader__cell {
  border: 1px solid #ccc;

  &:last-child {
    border-right: 0;
  }

  .TableHeader__thead--no-table &:first-child,
  &:nth-child(2) {
    border-left: 0;
  }

  .TableHeader__thead--no-table .TableHeader__row:first-child & {
    border-top: 0;
  }
}

.TableHeader__thead--no-table {
  border-bottom: 2px solid #ccc;
}


.TableHeader__cell-content {
  width: 100%;
  color: #888;
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;

  padding: 10px 5px;
}

.TableHeader__cell-content--select {
  padding: 10px 15px;
}

.TableHeader__cell-fix {
  width: 0;
  overflow: hidden;

  &:before {
    content: "X";
    display: block;
    padding: 11px 0;
    width: 0;
    overflow: hidden;
  }
}
