@import "../../../../style/inc";

.TableBody {
  border-collapse: collapse;
  table-layout: fixed;
}

.TableBody__empty-cell {
  height: 200px;
}

.TableBody__empty-content {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
  color: $color__grey;
  bottom: 100px;
  left: 0;
}
