@import "./inc";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  color: $color__grey--dark;
  background: $color__grey--ultra-light;
}
